.wrapper{
    width:7.5rem;
    margin:0 auto;
}
.pet-speciaList{
    padding-top:0.88rem;
    li:last-of-type{
        border:0;
        padding-bottom:0.5rem
    }
    li{
        padding:0.25rem 0;
            border-bottom:1px solid #ccc;
            margin:0 0.3rem;
            img{
            margin-left:0.25rem;
            width:2.2rem;
            height:1.4rem
        }
        p{
            font-size:0.3rem;
            margin-left:0.15rem;
        }
        p:last-of-type{
           color:#bbb;
           margin-top:0.5rem;
           font-size:0.28rem;
        }
        .left{
            float:left;
        }
        .right{
            float:right;
            font-size:0.22rem;
            color:#7c7c7c;
            margin-top:1rem;
            margin-right:0.4rem;
        }
    }
    @keyframes zhuan{
        0%{transform:rotate(0deg);-webkit-transform:rotate(0deg);}
        50%{transform:rotate(180deg);-webkit-transform:rotate(180deg);}
        100%{transform:rotate(360deg);-webkit-transform:rotate(360deg);}
    }
    .load img{
        animation: zhuan 1s infinite linear;
        width:0.3rem;
        height:0.3rem;
        vertical-align:top;
    }
    .load{
        font-size:0.25rem;
        text-align:center;
    }
}
